body {
  margin: 5px;
  font: bold 13px 'Lucida Grande';
  text-align: right;
  color: #fff;
  opacity: 0.9;
  /*background: #000*/
  /*text-shadow: #333 1px 1px 1px;*/
}

#artistName {
  font-size: 0.8em;
}  